{% extends 'main/base.html' %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'achievement/css/style.css' %}">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="inblock" id = 'cross'>
            <img class = "image" src="{% static 'achievement/img/img_cross.png' %}" alt="">
            <h2 class="title">хрестики-нулики</h2>
            <p class="text"> Тут мав бути довгий текст по тому, як ми писали нашу першу гру! </p>
        </div>
        
    </div>
    <div class="container" id = 'tanks'>
        <h2>танчіки</h2>
    </div>
    <div class="container" id = 'player'>
        <h2>музичний плеєр</h2>
    </div>
    <div class="container" id = 'voice'>
        <h2>голосовий асистент</h2>
    </div>
{% endblock %}


