.container{
    background-color: rgb(67, 40, 40);
    border: 2px solid #fff;
    border-radius: 10px;
    height: 200px;
    max-height: 200px;
    margin-top: 5px;
    display: block;
    position: relative;

}

.leftblock{
    background-color: #333;
    border: 2px solid #fff;
    border-radius: 10px;
    display: inline-flex;
    position: absolute;
    top: 1%;
    left: 5px;
    bottom: 1%;
    transition: all 2s; /* Плавний перехід всіх властивостей при зміні стану */
}

.image{
    width: 50%;
    max-height: 190px;
    max-width: 190px;
    min-width: 190px;
}

.titleleft{
    position: absolute;
    font-size: 22px;
    text-align: center;
    padding-left: 190px;
    bottom: 0;
    top: 0;
}

.text{
    display: none; /* Почнемо з тексту, який схований */
    opacity: 0; /* Текст також схований */
    position: absolute;
    display: inline-block;
    font-size: 26px;
    text-align: center;
    top: 50px;
}

.leftblock:hover{
    width:99%;
    text-shadow: 8px 8px 8px black;
    box-shadow: 12px 12px 12px black;
}

.leftblock:hover p {
    display: block; /* Показувати текст при наведенні */
    opacity: 1; /* Плавне з'явлення тексту */
    bottom: 40%; /* Зміна bottom, щоб текст прилягав до нижньої частини відео при наведенні */
    text-align: center;
    right: 20%;
    left: 20%;
}

.leftblock:hover .titleleft{
    writing-mode: horizontal-tb;
    transition: 1s;
    left: 20%;
    right: 20%;
    padding-left: 0;
}

.leftblock:not(:hover) .titleleft{
    left: 0%;
    transition: 2s;
    writing-mode: vertical-lr;
}

.leftblock:not(:hover){
    box-shadow: none;
    width: 250px; /* Відновлення початкової висоти при знятті наведення */
    min-height: 190px;
}

.rightblock{
    position: absolute;
    top: 1%;
    bottom: 1%;
    right: 0;
    background-color: #333;
    border: 2px solid #fff;
    border-radius: 10px;
    width: 250px;
    transition: all 2s; /* Плавний перехід всіх властивостей при зміні стану */
}

#right-img{
    position: absolute;
    right: 0;
}

.titleright{
    position: absolute;
    text-align: center;
    top: 25%;
    left: 0%;
    writing-mode: vertical-lr;
    text-align: center;
}

.rightblock:hover{
    width: 100%;
    text-shadow: 8px 8px 8px black;
    box-shadow: 12px 12px 12px black;
}

.rightblock:hover #right-img{
    position: absolute;
    right: 0%;
}

.rightblock:hover .titleright{
    writing-mode: horizontal-tb;
    transition: 1s;
    left: 20%;
    right: 20%;
    top: 0;
}

.rightblock:hover p {
    display: block; /* Показувати текст при наведенні */
    opacity: 1; /* Плавне з'явлення тексту */
    bottom: 40%; /* Зміна bottom, щоб текст прилягав до нижньої частини відео при наведенні */
    text-align: center;
    right: 20%;
    left: 20%;
}

.rightblock:not(:hover){
    box-shadow: none;
    width: 250px; /* Відновлення початкової висоти при знятті наведення */
    min-height: 190px;
}

.rightblock:hover .titleleft{
    writing-mode: horizontal-tb;
    transition: 1s;
    left: 40%;
}

#voice{
    top: 5%;
    /* padding-left: -5px; */
    margin-left: 4px;
    
}