.container{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    background-color: #333;
    border: 2px solid #fff;
    border-radius: 10px;
    text-align: center;
}
/* vcedv */

#img1, #img2, #img3{
    /* padding-right: 3px;
    padding-left: 3px; */
    margin: 15px;
    max-height: 350px;
    border: 2px solid #fff;
    border-radius: 10px;
}

#img2{
    width: 35%;
    max-height: 350px;
    /* border: 2px solid #fff;
    border-radius: 10px;
    padding-right: 3px;
    padding-left: 3px; */
}

#img1{
    /* width: 20%; */
    max-height: 350px;
    height: 20%;
    /* border: 2px solid #fff;
    border-radius: 10px;
    padding-right: 3px;
    padding-left: 3px; */
}

#img3{
    width: 35%;
    max-height: 350px;
    /* border: 2px solid #fff;
    border-radius: 10px;
    padding-right: 3px;
    padding-left: 3px; */
}

.row{
    display: flex;
    justify-content: center; /* Розмістити картинки по центру горизонталі */
    align-items: center; /* Розмістити картинки по центру вертикалі */
}

