.container{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    background-color: #333;
    border: 2px solid #fff;
    border-radius: 10px;
    text-align: center;
}

#img1, #img2, #img3{
    margin: 15px;
    max-height: 350px;
    border: 2px solid #fff;
    border-radius: 10px;
}

img:hover{
    box-shadow: 12px 12px 12px black;
    transition: 1s;
}
img:not(:hover){
    box-shadow: none;
    transition: 2s;
}

#img2{
    width: 35%;
    max-height: 350px;
}

#img1{
    max-height: 350px;
    height: 20%;
}

#img3{
    width: 35%;
    max-height: 350px;
}

.row{
    display: flex;
    justify-content: center; /* Розмістити картинки по центру горизонталі */
    align-items: center; /* Розмістити картинки по центру вертикалі */
}


