{% extends 'main/base.html' %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'galary/css/style.css' %}">
{% endblock %}
{% block content %}
    <div class="container">
            <h2>Максим Сліпчук</h2>
        <div class = 'row'>
            <img id = 'img2' src='{% static "galary/img/img_maxs2.jpg" %}' alt="">
            <img id = 'img1'src='{% static "galary/img/img_maxs1.jpg" %}' alt="">
            <img id = 'img3' src='{% static "galary/img/img_maxs3.jpg" %}' alt="">
        </div>
        
    </div>
{% endblock %}