{% extends 'main/base.html' %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'galary/css/style.css' %}">
{% endblock %}
{% block content %}
    <div class="container">
            <h2>Максим Сліпчук</h2>
        <div class = 'row'>
            <img class = 'image' src='{% static "galary/img/img_maxs2.jpg" %}' alt="">
            <img class = 'image'src='{% static "galary/img/img_maxs1.jpg" %}' alt="">
            <img class = 'image' src='{% static "galary/img/img_maxs3.jpg" %}' alt="">
        </div>
        <h2>Марія Драгнєва</h2>
        <div class = 'row'>
            <img class = 'image' src='{% static "galary/img/img_masha1.jpg" %}' alt="">
            <img class = 'image'src='{% static "galary/img/img_masha2.jpg" %}' alt="">
            <img class = 'image' src='{% static "galary/img/img_masha3.jpg" %}' alt="">
        </div>
        <h2>Максим Григоренко</h2>
        <div class = 'row'>
            <img class = 'image' src='{% static "galary/img/img_maxg1.jpg" %}' alt="">
            <img class = 'image'src='{% static "galary/img/img_maxg3.jpg" %}' alt="">
            <img class = 'image' src='{% static "galary/img/img_maxg2.jpg" %}' alt="">
        </div>
        
    </div>
{% endblock %}