<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main</title>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    {% block links %}
    {% endblock %}
    {% block script %}
    {% endblock %}
</head>

<body>
    <header>
        <div id ='header'class='nav-container'>
            <a href="{% url 'education' %}">ОСВІТА</a>
            <a href="{% url 'achievement' %}">ДОСЯГНЕННЯ</a>
            <a href="{% url 'main' %}">КОМАНДА</a>
            <a href="{% url 'hobby' %}">ХОБІ</a>
            <a href="{% url 'galary' %}">ГАЛЕРЕЯ</a>
        </div>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>