{% extends 'main/base.html' %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
{% endblock %}
{% block content %}
    <div class="main-container">
        <!-- перший рядок -->
        <div class="main-row">
            <!-- перший стовпець -->
            <div class="main-column-left">
                <!-- блок для інформації -->
                <div class="small-inform">
                    <!-- стовпець для зображення -->
                    <div class="column">
                        <div class="image-container">
                            <img class="image" id="maxs1" src="{% static 'main/img/img_maxs1.jpg' %}" alt="">
                        </div>
                    </div>
                    <!-- стовпець для тексту -->
                    <div class="column">
                        <div class="row">
                            <h2 id="maksims"class="name">Максим Сліпчук</h2>
                        </div>
                        <div class="row">
                            <p class="text-inf">В паралельному всесвіті хакнув Пентагон, а тут пишу сайти...</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- другий стовпець -->
            <div class="main-column-right">
                <!-- блок для інформації -->
                <div class="small-inform">
                    <!-- стовпець для тексту -->
                    <div class="column">
                        <div class="row">
                            <h2 id="maria"class="name">Марія Драгнєва</h2>
                        </div>
                        <div class="row">
                            <p class="text-inf">Є хом'як, але він не програміст.<br /><br /></p>
                        </div>
                    </div>
                    <div class="column">
                        <div class="image-container">
                            <img class="image" id="masha1" src="{% static 'main/img/img_masha1.jpg' %}" alt="">
                        </div> 
                    </div>
                </div>
            </div>
        </div>
        <div class="main-row">
            <!-- перший стовпець -->
            <div class="main-column-left">
                <!-- блок для інформації -->
                <div class="small-inform">
                    <!-- стовпець для зображення -->
                    <div class="column">
                        <div class="image-container">
                            <img class="image" id="maxg1" src="{% static 'main/img/img_maxg1.jpg' %}" alt="">
                        </div>
                    </div>
                    <!-- стовпець для тексту -->
                    <div class="column">
                        <div class="row">
                            <h2 id="maksimg" class="name">Максим Григоренко</h2>
                        </div>
                        <div class="row">
                            <p class="text-inf">Було нудно, тепер програмую.<br /><br /></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- другий стовпець -->
            <div class="main-column-right">
                <!-- блок для інформації -->
                <div class="small-inform">
                    <!-- стовпець для тексту -->
                    <div class="column">
                        <div class="row">
                            <h2 id="maksimg"class="name">Радіон Тимченко</h2>
                        </div>
                        <div class="row">
                            <p class="text-inf">Називайте мене - новий Майл Джордан!<br/><br/></p>
                        </div>
                    </div>
                    <div class="column">
                        <div class="image-container">
                            <img class="image" id="maxs1" src="{% static 'main/img/img_rad.jpg' %}" alt="">
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}