<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main</title>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
</head>
<header>
    <div id ='header'class='nav-container'>
        <a href="">ОСВІТА</a>
        <a href="">ДОСЯГНЕННЯ</a>
        <a href="">КОМАНДА</a>
        <a href="">ХОБІ</a>
        <a href="">ГАЛЕРЕЯ</a>
    </div>
</header>
<body>
    <div class="main-container">
        <!-- перший рядок -->
        <div class="main-row">
            <!-- перший стовпець -->
            <div class="main-column-left">
                <!-- блок для інформації -->
                <div class="small-inform">
                    <!-- стовпець для зображення -->
                    <div class="column">
                        <div class="image-container">
                            <img class="image" id="maxs1" src="{% static 'main/img/img_maxs1.jpg' %}" alt="">
                        </div>
                    </div>
                    <!-- стовпець для тексту -->
                    <div class="column">
                        <div class="row">
                            <h2 class="name">Максим Сліпчук</h2>
                        </div>
                        <div class="row">
                            <p class="text-inf">В паралельному всесвіті хакнув Пентагон, а тут пишу сайти...</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- другий стовпець -->
            <div class="main-column-right">
                <!-- блок для інформації -->
                <div class="small-inform">
                    <!-- стовпець для тексту -->
                    <div class="column">
                        <div class="row">
                            <h2 class="name">Максим Сліпчук</h2>
                        </div>
                        <div class="row">
                            <p class="text-inf">В паралельному всесвіті хакнув Пентагон, а тут пишу сайти...</p>
                        </div>
                    </div>
                    <div class="column">
                        <div class="image-container">
                            <img class="image" id="maxs1" src="{% static 'main/img/img_maxs1.jpg' %}" alt="">
                        </div> 
                    </div>
                </div>
            </div>
        </div>
        <div class="main-row">
            <!-- перший стовпець -->
            <div class="main-column-left">
                <!-- блок для інформації -->
                <div class="small-inform">
                    <!-- стовпець для зображення -->
                    <div class="column">
                        <div class="image-container">
                            <img class="image" id="maxs1" src="{% static 'main/img/img_maxs1.jpg' %}" alt="">
                        </div>
                    </div>
                    <!-- стовпець для тексту -->
                    <div class="column">
                        <div class="row">
                            <h2 class="name">Максим Сліпчук</h2>
                        </div>
                        <div class="row">
                            <p class="text-inf">В паралельному всесвіті хакнув Пентагон, а тут пишу сайти...</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- другий стовпець -->
            <div class="main-column-right">
                <!-- блок для інформації -->
                <div class="small-inform">
                    <!-- стовпець для тексту -->
                    <div class="column">
                        <div class="row">
                            <h2 class="name">Максим Сліпчук</h2>
                        </div>
                        <div class="row">
                            <p class="text-inf">В паралельному всесвіті хакнув Пентагон, а тут пишу сайти...</p>
                        </div>
                    </div>
                    <div class="column">
                        <div class="image-container">
                            <img class="image" id="maxs1" src="{% static 'main/img/img_maxs1.jpg' %}" alt="">
                        </div> 
                    </div>
                    
                </div>
            </div>
        </div>
</body>
</html>